body{
  background-color: #000;
  font-family: courier, monospace;
  color: rgb(26,255,128);
  background-image: url('./console.jpg');
  background-size: cover;
}
h1{
  margin:0 auto;
  font-size:60px
}
#headrow{
  padding-top:195px;
}
#timer{
  margin:0 auto;
  font-size:35px;
  color:#eaeaea;
}
#player1score{
  font-family: courier, monospace;
  font-size: 30px;

}
#player2score{
  font-family: courier, monospace;
  font-size: 30px;
}
#container{
  height:500px;
  width:550px;
}
#topSecretDoc{
  font-size: 20px;
  height:350px;
  padding:10px;
}
#textInput{
  font-family: courier, monospace;
  font-size:16px;
  background-color:black;
}
#gameInfo{
border: 1px solid black;
font-family: courier, monospace;
font-size:20px;
}
#instructions{
  color: black;
  font-size:20px;
}
#instructionsmodal{
  color: rgb(26,255,128);
  background-color:black;
  font-size:20px;
}
#modaltitle{
  color: rgb(26,255,128);
  background-color:black;
  font-size:20px;
}
#audio{
  display:none;
}
input{
}

#resetBtn{
  font-family: courier, monospace;
  border-radius:10%;
  padding-top:5px;
  background-color: #eaeaea;
  color:black;
}
#strtBtn{
  font-family: courier, monospace;
  border-radius:10%;
  padding-top:5px;
}
