body{
  background-color: #000;
  font-family: courier, monospace;
  color: rgb(26,255,128);
  background-image: url('./console.jpg');
  background-size: cover;
}
h1{
  margin:0 auto;
  font-size:60px
}

#timer{
  margin:0 auto;
  font-size:50px;
  color:red;
}
#player1score{
  font-family: courier, monospace;
  font-size: 50px;

}
#player2score{
  font-family: courier, monospace;
  font-size: 50px;
}
#container{
  height:500px;
  width:550px;
}
#topSecretDoc{
  font-size: 20px;
  height:400px;
  padding:10px;
}
#textInput{
  font-family: courier, monospace;
  font-size:16px;
}
#gameInfo{
border: 1px solid black;
font-family: courier, monospace;
}
#instructions{
  color: rgb(26,255,128);
}
input{
}

#resetBtn{
  font-family: courier, monospace;
  border-radius:50%;
}
#strtBtn{
  font-family: courier, monospace;
  border-radius:50%;
}
