body{
  background-color: #000;
  font-family: courier, monospace;
  color: #fff;
}
h1{
  margin:0 auto;
  font-size:60px
}

#timer{
  margin:0 auto;
  font-size:50px;
  color:red;
}
#player1score{
  font-family: courier, monospace;
  font-size: 50px;

}
#player2score{
  font-family: courier, monospace;
  font-size: 50px;
}
#container{
  height:600px;
  width:600px;
}
#topSecretDoc{
  border:1px solid #eaeaea;
  font-size: 20px;
}
#textInput{
  font-family: courier, monospace;
  font-size:16px;
}
#gameInfo{
border: 1px solid black;
font-family: courier, monospace;
}
input{
}

#resetBtn{
  font-family: courier, monospace;
}
#strtBtn{
  font-family: courier, monospace;
}
